body {
    margin: 20px;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    font-spacing: 0.011em;
    font-weight: 300;
    line-height: 1.33;
}

p { text-align: justify; }
p.help { font-size: 70%; font-style: itxalic; margin-bottom: 50px;}
h3 { margin-bottom: 8px; }

input { margin: auto 6px;}
input[type=submit] { margin-left: 10px; }

#credits { font-size: 70%; text-align: right; margin-top: 30px; }
#hits { font-size: 120%; font-weight: bold; }
input { margin-right: 5px;}
