<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap&subset=latin,latin-ext" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='screen.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
	<div id="promo">{% block promo %}{% endblock %}</div>
	
    <div id="content">
        {% block content %}{% endblock %}
        <div id="credits">
            text <a href="https://www.psp.cz/eknih/2017ps/" target="_blank">psp.cz</a>, <a href="https://www.hlidacstatu.cz/data/Hledat/tiskove-konference-vlady?Q=osobaid%3Aandrej-babis&order=datum desc" target="_blank">Hlídač Státu</a> a Facebook, 
            prgačina <a href="https://github.com/starenka/neblabolit/" target="_blank">starenka</a> L.P. MMXX</br>
            Už jsme {% block hits %}{% endblock %} <span id="hits">{{ hits or 100 }}%</span> republiky.
        </div>
    </div>
</body>
</html>
